POSTGRES_PASSWORD=trocar-senha-forte-aqui

JWT_KEY=trocar-chave-jwt-min-32-chars-aleatoria-aaaaaaaaaaaaaaaa

MASTER_EMAIL=eduardodominikus@hotmail.com
MASTER_NOME=Eduardo (Master)
MASTER_SENHA=trocar-senha-master

EMAIL_FROM=noreply@appavisos.com.br
EMAIL_RESEND_PASS=
EMAIL_ELASTIC_PASS=

VAPID_SUBJECT=mailto:contato@appavisos.com.br
VAPID_PUBLIC=
VAPID_PRIVATE=
