POSTGRES_PASSWORD=trocar-senha-forte-aqui

JWT_KEY=trocar-chave-jwt-min-32-chars-aleatoria-aaaaaaaaaaaaaaaa

MASTER_EMAIL=eduardodominikus@hotmail.com
MASTER_NOME=Eduardo (Master)
MASTER_SENHA=trocar-senha-master

EMAIL_FROM=noreply@appavisos.com.br
AWS_REGION=us-east-1
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

VAPID_SUBJECT=mailto:contato@appavisos.com.br
VAPID_PUBLIC=
VAPID_PRIVATE=
